<div class="d-flex justify-content-center" >
  <h1>Restaurants#show</h1>
</div>
<div class="d-flex justify-content-center">
  <h2><%= @restaurant.name %></h2>
</div>
<div class="d-flex justify-content-center">
  <p><%= @restaurant.address %></p>
</div>
<div class="d-flex justify-content-center">
  <p><%= @restaurant.phone_number %></p>
</div>
<div class="d-flex justify-content-center">
  <p><%= @restaurant.category %></p>
</div>
<div class="d-flex justify-content-center">
  <%= link_to "Post a Review", new_restaurant_review_path(@restaurant)  %>
</div>
